In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'key1':['a','a','b','b','a'],'key2':['one','two','one','two','one'],'data':np.random.randn(5),'data2':np.random.randn(5)})

In [3]:
df

       data     data2 key1 key2
0 -0.579321  0.003779    a  one
1 -0.757484 -0.503034    a  two
2  0.970603 -0.856721    b  one
3 -0.981477 -0.835724    b  two
4  1.781586  0.000138    a  one

In [4]:
grouted = df['data'].groupby(df['key1'])

In [5]:
grouted

In [6]:
print(grouted)

<pandas.core.groupby.generic.SeriesGroupBy object at 0x0000000017115CF8>

In [7]:
grouted.mean()

key1
a    0.148260
b   -0.005437
Name: data, dtype: float64

In [8]:
means = df['data'].groupby([df['key1'],df['key2']]).mean()