In [9]:
import pandas as pd
import numpy as np

string_data = pd.Series(['aardvark','artichoke',np.nan,'avocado'])

In [8]:
data=pd.Series(np.random.randn(9)),...:index=[['a','a','a','b','b','b','c','c','c','d','d'],...:[1,2,3,1,3,1,2,2,3]]

SyntaxError: invalid syntax (<ipython-input-8-0d31b1d9cb56>, line 1)

In [11]:
obj=pd.Series([4,7,-5,3])

In [12]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [13]:
string_data

0     aardvark
1    artichoke
2          NaN
3      avocado
dtype: object

In [14]:
obj.values

array([ 4,  7, -5,  3], dtype=int64)

In [15]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [17]:
obj2=pd.Series([4,7,-5,3],index=['d','b','a','c'])

In [19]:
obj2['a']

-5

In [20]:
np.exp(obj2)

d      54.598150
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [23]:
sdata={'james':35000,'bond':17000,'kiyou':100000000000}

In [24]:
obj3=pd.Series(sdata)

In [25]:
obj3

bond            17000
james           35000
kiyou    100000000000
dtype: int64

In [31]:
names=['kiyou','zard']

In [32]:
obj4=pd.Series(sdata,index=names)

In [33]:
obj4

kiyou    1.000000e+11
zard              NaN
dtype: float64